.plataforma-dashboard-container{
  max-width: 1200px;
  padding: 1em;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "title"
  "aside"
  "preview";
}

.plataforma-dashboard-container .title{
  grid-area: title;
}

.plataforma-dashboard-container .aside{
  grid-area: aside;
}

.plataforma-dashboard-container .preview{
  grid-area: preview;
}

@media only screen and (min-width: 768px){
  .plataforma-dashboard-container{
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "title title"
    "preview aside";
  }
}

.accordion{
  cursor: pointer;
  width: 100%;
  background-color: #eee;
  color: #444;
  padding: 0.5em;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.idiomas, .proficiencias{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 0.5em;
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0px;
  opacity: 0;
  /* pointer-events: none; */
  overflow: hidden;
  transition: all 150ms;
}

.panel-active{
  padding: 0.5em;
  max-height: none;
  pointer-events: auto;
  opacity: 1;
  overflow: auto;
}

.panel form{
  width: 100%;
}

.panel-item{
  width: 80%;
  background-color: #eee;
  color: #444;
  text-align: center;
  padding: 0.5em;
  animation-name: aparecer;
  animation-duration: 150ms;
}

.panel-item ul{
  list-style-position: inside;
  text-align: left;
}

.panel-item p, .panel-item li{
  font-size: 1rem;
}

@keyframes aparecer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}