.site {
  grid-template-areas:
    "header"
    "mensagem"
    "main-container"
    "footer";
}

.container-trabalho{
  max-width: 1200px;
  padding: 1em;
  margin-bottom: 1em;
  grid-area: main-container;
  display:grid;
  margin:auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "title"
  "aside"
  "main";
}

.title {
  grid-area: title;
}

.aside {
  grid-area: aside;
}

.pagina-apresentacao {
  grid-area: main;
  height: 90vh;
}

.warning {
  background-color: orange;
}

.mobile {
  background-color: green;
}

.warning,
.mobile {
  padding: 1em;
  border-radius: 2em;
  margin-top: 1em;
  text-align: center;
}

.items li {
  list-style-position: inside;
  margin-left: 0.3em;
}

.jogo{
  height: 90%;
  /* margin-bottom: 1em; */
}

.jogo-flappybird, .jogo-asteroides{
  display: grid;
  justify-items: center;
  align-items: center;
}

.jogo-container{
  height: 100%;
}

.btn-container{
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}

.widget-item{
  margin: 0;
}

.btn-container .widget-item a{
  color:black;
}

.asteroides div{
  height: 100%;
}

.formulario-container{
  max-width: 300px;
  margin:auto;
}


@media only screen and (min-width: 768px) {
  .container-trabalho {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    /* height: 100vh; */
    grid-template-areas:
      "title title"
      "aside main";
  }
  .aside{
    height: 90vh;
    overflow: scroll;
  }
}

.game-screen {
  position: relative;
}

.game-screen canvas {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  position: absolute;
}

#background-layer {
  z-index: 0;
  background-color: #6288ce;
}

#pipeSouth-layer {
  z-index: 1;
}

#ground-layer {
  z-index: 2;
}

#game-layer {
  z-index: 3;
}

#hud-layer {
  z-index: 4;
}
